<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(NuGetPackageRoot)/system.memory/4.6.0/lib/netstandard2.0/System.Memory.dll" #>
<#@ assembly name="$(ProjectDir)/../SmartVectorDotNet/bin/Debug/netstandard2.0/SmartVectorDotNet.dll" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="SmartVectorDotNet" #>
<#@ output extension=".g.cs" #>
<#
var methods = typeof(Vectorization)
    .GetMethods(BindingFlags.Public | BindingFlags.Instance)
    .Where(m => m.DeclaringType == typeof(Vectorization))
    .Where(m => m.IsGenericMethodDefinition && m.GetGenericArguments().Length == 1)
    .Where(m => m.GetParameters().Length >= 2 && m.GetParameters().Last().ParameterType.Name.StartsWith("Span`"))
    .ToArray();
    ;
var unaryMethods = methods
    .Where(IsUnaryOperator);
var binaryMethods = methods
    .Where(IsBinaryOperator);
#>
namespace SmartVectorDotNet;

public partial class VectorizationTest
{
    private static partial UnaryOperatorTestSuite[] UnaryOperatorTestSuites()
        => [
<#  foreach(var method in unaryMethods) { #>
            new Unary_<#=method.Name#>(),
<#  } #>
        ];

    private static partial BinaryOperatorTestSuite[] BinaryOperatorTestSuites()
        => [
<#  foreach(var method in binaryMethods) { #>
            new Binary_<#=method.Name#>(),
<#  } #>
        ];

    #region unary operators

<#  foreach(var method in unaryMethods) { #>
    private class Unary_<#=method.Name#> : UnaryOperatorTestSuite
    {
        protected override void Operate<T>(Vectorization vectorization, ReadOnlySpan<T> x, Span<T> result) => vectorization.<#=method.Name#><T>(x, result);
    }

<#  } #>
    #endregion

    #region binary operators
    
<#  foreach(var method in binaryMethods) { #>
    private class Binary_<#=method.Name#> : BinaryOperatorTestSuite
    {
        protected override void Operate<T>(Vectorization vectorization, T x, ReadOnlySpan<T> y, Span<T> result) => vectorization.<#=method.Name#><T>(x, y, result);
        protected override void Operate<T>(Vectorization vectorization, ReadOnlySpan<T> x, T y, Span<T> result) => vectorization.<#=method.Name#><T>(x, y, result);
        protected override void Operate<T>(Vectorization vectorization, ReadOnlySpan<T> x, ReadOnlySpan<T> y, Span<T> result) => vectorization.<#=method.Name#><T>(x, y, result);
    }

<#  } #>
    #endregion
}
<#+
public bool IsUnaryOperator(MethodInfo method)
{
    var operandTypes = method
        .GetParameters()
        .Select(p => p.ParameterType)
        .ToArray();
    return operandTypes.Length == 2;
}

public bool IsBinaryOperator(MethodInfo method)
{
    var t = method.GetGenericArguments()[0];
    var operandTypes = method
        .GetParameters()
        .Select(p => p.ParameterType)
        .ToArray();
    if(operandTypes.Length != 3)
    {
        return false;
    }
    return operandTypes[0] != t && operandTypes[1] != t;
}
#>