<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".g.cs" #>
<#
var methods = new MethodDef[]{
    new("Abs", ["x"], type => type.AbsSupport, "Returns the absolute value."),
    new("Min", ["x", "y"], type => type.MinMaxSupport, "Returns the smaller."),
    new("Max", ["x", "y"], type => type.MinMaxSupport, "Returns the larger."),
    new("Clamp", ["value", "min", "max"], type => type.ClampSupport, "Returns <paramref name=\"value\"/> clamped to the inclusive range of <paramref name=\"min\"/> and <paramref name=\"max\"/>."),
};
var types = new TypeDef[] {
    //  name      abs    minmax
    new("byte"  , SupportKind.None    , SupportKind.Standard, SupportKind.Custom),
    new("ushort", SupportKind.None    , SupportKind.Standard, SupportKind.Custom),
    new("uint"  , SupportKind.None    , SupportKind.Standard, SupportKind.Custom),
    new("ulong" , SupportKind.None    , SupportKind.Standard, SupportKind.Custom),
    new("nuint" , SupportKind.None    , SupportKind.Custom  , SupportKind.Custom),
    new("sbyte" , SupportKind.Standard, SupportKind.Standard, SupportKind.Custom),
    new("short" , SupportKind.Standard, SupportKind.Standard, SupportKind.Custom),
    new("int"   , SupportKind.Standard, SupportKind.Standard, SupportKind.Custom),
    new("long"  , SupportKind.Standard, SupportKind.Standard, SupportKind.Custom),
    new("nint"  , SupportKind.Custom  , SupportKind.Custom  , SupportKind.Custom),
    new("float ", SupportKind.Standard, SupportKind.Standard, SupportKind.Custom),
    new("double", SupportKind.Standard, SupportKind.Standard, SupportKind.Custom),
};
#>
// <auto-generated>
// THIS (.cs) FILE IS GENERATED BY T4. DO NOT CHANGE IT. CHANGE THE .tt FILE INSTEAD.
// </auto-generated>
using System.CodeDom.Compiler;
using System.Runtime.CompilerServices;
namespace SmartVectorDotNet;

partial class ScalarOp
{
<#  foreach(var method in methods){ #>
<#      GenerateGenericMethod(method, types); #>
<#      GenerateNonGenericMethods(method, types); #>

<#  } #>

#if NETSTANDARD2_1_ORGREATER || NETCOREAPP2_0_OR_GREATER

    public static partial byte   Clamp(byte   value, byte   min, byte   max) => Math.Clamp(value, min, max);
    public static partial ushort Clamp(ushort value, ushort min, ushort max) => Math.Clamp(value, min, max);
    public static partial uint   Clamp(uint   value, uint   min, uint   max) => Math.Clamp(value, min, max);
    public static partial ulong  Clamp(ulong  value, ulong  min, ulong  max) => Math.Clamp(value, min, max);
    public static partial sbyte  Clamp(sbyte  value, sbyte  min, sbyte  max) => Math.Clamp(value, min, max);
    public static partial short  Clamp(short  value, short  min, short  max) => Math.Clamp(value, min, max);
    public static partial int    Clamp(int    value, int    min, int    max) => Math.Clamp(value, min, max);
    public static partial long   Clamp(long   value, long   min, long   max) => Math.Clamp(value, min, max);
    public static partial float  Clamp(float  value, float  min, float  max) => Math.Clamp(value, min, max);
    public static partial double Clamp(double value, double min, double max) => Math.Clamp(value, min, max);

#else

    public static partial byte   Clamp(byte   value, byte   min, byte   max) => Math.Min(Math.Max(value, min), max);
    public static partial ushort Clamp(ushort value, ushort min, ushort max) => Math.Min(Math.Max(value, min), max);
    public static partial uint   Clamp(uint   value, uint   min, uint   max) => Math.Min(Math.Max(value, min), max);
    public static partial ulong  Clamp(ulong  value, ulong  min, ulong  max) => Math.Min(Math.Max(value, min), max);
    public static partial sbyte  Clamp(sbyte  value, sbyte  min, sbyte  max) => Math.Min(Math.Max(value, min), max);
    public static partial short  Clamp(short  value, short  min, short  max) => Math.Min(Math.Max(value, min), max);
    public static partial int    Clamp(int    value, int    min, int    max) => Math.Min(Math.Max(value, min), max);
    public static partial long   Clamp(long   value, long   min, long   max) => Math.Min(Math.Max(value, min), max);
    public static partial float  Clamp(float  value, float  min, float  max) => Math.Min(Math.Max(value, min), max);
    public static partial double Clamp(double value, double min, double max) => Math.Min(Math.Max(value, min), max);

#endif

#if NET6_0_OR_GREATER

    public static partial nint Abs(nint x) => Math.Abs(x);

    public static partial nuint Min(nuint x, nuint y) => Math.Min(x, y);
    public static partial nint  Min(nint  x, nint  y) => Math.Min(x, y);

    public static partial nuint Max(nuint x, nuint y) => Math.Max(x, y);
    public static partial nint  Max(nint  x, nint  y) => Math.Max(x, y);
    
    public static partial nuint  Clamp(nuint  value, nuint  min, nuint  max) => Math.Clamp(value, min, max);
    public static partial nint   Clamp(nint   value, nint   min, nint   max) => Math.Clamp(value, min, max);

#else

    public static partial nint Abs(nint x)
        => IntPtr.Size switch
        {
            4 => Reinterpret<int , nint>(Math.Abs(Reinterpret<nint, int >(x))),
            8 => Reinterpret<long, nint>(Math.Abs(Reinterpret<nint, long>(x))),
            _ => throw new NotSupportedException(),
        };

    public static partial nuint Min(nuint x, nuint y)
        => UIntPtr.Size switch
        {
            4 => Reinterpret<uint , nuint>(Math.Min(Reinterpret<nuint, uint >(x), Reinterpret<nuint, uint >(y))),
            8 => Reinterpret<ulong, nuint>(Math.Min(Reinterpret<nuint, ulong>(x), Reinterpret<nuint, ulong>(y))),
            _ => throw new NotSupportedException(),
        };

    public static partial nint Min(nint x, nint y)
        => IntPtr.Size switch
        {
            4 => Reinterpret<int , nint>(Math.Min(Reinterpret<nint, int >(x), Reinterpret<nint, int >(y))),
            8 => Reinterpret<long, nint>(Math.Min(Reinterpret<nint, long>(x), Reinterpret<nint, long>(y))),
            _ => throw new NotSupportedException(),
        };

    public static partial nuint Max(nuint x, nuint y)
        => UIntPtr.Size switch
        {
            4 => Reinterpret<uint , nuint>(Math.Max(Reinterpret<nuint, uint >(x), Reinterpret<nuint, uint >(y))),
            8 => Reinterpret<ulong, nuint>(Math.Max(Reinterpret<nuint, ulong>(x), Reinterpret<nuint, ulong>(y))),
            _ => throw new NotSupportedException(),
        };

    public static partial nint Max(nint x, nint y)
        => IntPtr.Size switch
        {
            4 => Reinterpret<int , nint>(Math.Max(Reinterpret<nint, int >(x), Reinterpret<nint, int >(y))),
            8 => Reinterpret<long, nint>(Math.Max(Reinterpret<nint, long>(x), Reinterpret<nint, long>(y))),
            _ => throw new NotSupportedException(),
        };
        
    public static partial nuint  Clamp(nuint  value, nuint  min, nuint  max)
        => UIntPtr.Size switch
        {
            4 => Reinterpret<int , nuint>( Math.Min(Math.Max(Reinterpret<nuint, int >(value), Reinterpret<nuint, int >(min)), Reinterpret<nuint, int >(max)) ),
            8 => Reinterpret<long, nuint>( Math.Min(Math.Max(Reinterpret<nuint, long>(value), Reinterpret<nuint, long>(min)), Reinterpret<nuint, long>(max)) ),
            _ => throw new NotSupportedException(),
        };

    public static partial nint   Clamp(nint   value, nint   min, nint   max)
        => IntPtr.Size switch
        {
            4 => Reinterpret<int , nint>( Math.Min(Math.Max(Reinterpret<nint, int >(value), Reinterpret<nint, int >(min)), Reinterpret<nint, int >(max)) ),
            8 => Reinterpret<long, nint>( Math.Min(Math.Max(Reinterpret<nint, long>(value), Reinterpret<nint, long>(min)), Reinterpret<nint, long>(max)) ),
            _ => throw new NotSupportedException(),
        };
        
#endif

}
<#+

public void GenerateGenericMethod(MethodDef method, TypeDef[] types)
{
#>
    /// <summary> <#=method.Document#> </summary>
    /// <typeparam name="T"></typeparam>
<#+ foreach(var arg in method.Arguments){ #>
    /// <param name="<#=arg#>"></param>
<#+ } #>
    /// <returns></returns>
    /// <exception cref="NotSupportedException" />
    [GeneratedCode("T4", null), MethodImpl(_inlining)]
    public static T <#=method.Name#><T>(<#=method.GetArgumentsDeclaration("T")#>) where T : unmanaged
    {
<#+ foreach(var type in types.Where(type => method.GetSupportKind(type) != SupportKind.None)) { #>
        if(typeof(T) == typeof(<#=type#>)) return Reinterpret<<#=type#>, T>(<#=method.Name#>(<#=method.GetArgumentsReinterpretation(type.Name)#>));
<#+ } #>
        throw new NotSupportedException();
    }

<#+
}

public void GenerateNonGenericMethods(MethodDef method, TypeDef[] types)
{
    foreach(var type in types.Where(type => method.GetSupportKind(type) == SupportKind.Standard))
    {
        GenerateStandardNonGenericMethod(method, type);
    }
    foreach(var type in types.Where(type => method.GetSupportKind(type) == SupportKind.Custom))
    {
        GenerateCustomNonGenericMethod(method, type);
    }
}

public void GenerateStandardNonGenericMethod(MethodDef method, TypeDef type)
{
#>
    /// <summary> Returns the absolute value. </summary>
<#+      foreach(var arg in method.Arguments){ #>
    /// <param name="<#=arg#>" />
<#+      } #>
    /// <returns />
    [GeneratedCode("T4", null), MethodImpl(_inlining)]
    public static <#=type#> <#=method.Name#>(<#=method.GetArgumentsDeclaration(type.Name)#>) => Math.<#=method.Name#>(<#=CommaJoined(method.Arguments)#>);
<#+
}

public void GenerateCustomNonGenericMethod(MethodDef method, TypeDef type)
{
#>
    /// <summary> Returns the absolute value. </summary>
<#+      foreach(var arg in method.Arguments){ #>
    /// <param name="<#=arg#>" />
<#+      } #>
    /// <returns />
    [GeneratedCode("T4", null), MethodImpl(_inlining)]
    public static partial <#=type#> <#=method.Name#>(<#=method.GetArgumentsDeclaration(type.Name)#>);
<#+
}

public static string CommaJoined(IEnumerable<string> values)
    => string.Join(", ", values);

public enum SupportKind
{
    None,
    Standard,
    Custom,
}

public class TypeDef
{
    public string Name { get; }
    public SupportKind AbsSupport { get; }
    public SupportKind MinMaxSupport { get; }
    public SupportKind ClampSupport { get; }

    public TypeDef(string name, SupportKind absSupport, SupportKind minMaxSupport, SupportKind clampSupport)
    {
        Name = $"{name, -6}";
        AbsSupport = absSupport;
        MinMaxSupport = minMaxSupport;
        ClampSupport = clampSupport;
    }

    public override string ToString() => Name;
}

public class MethodDef(string name, string[] arguments, Func<TypeDef, SupportKind> getSupportKind, string document)
{
    public string Name { get; } = name;
    public string[] Arguments { get; } = arguments;
    public Func<TypeDef, SupportKind> GetSupportKind { get;} = getSupportKind;
    public string Document { get; } = document;

    public string GetArgumentsDeclaration(string type)
            => CommaJoined(Arguments.Select(x => $"{type} {x}"));

    public string GetArgumentsReinterpretation(string type)
            => CommaJoined(Arguments.Select(x => $"Reinterpret<T, {type}>({x})"));
}
#>