<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".g.cs" #>
<#
var arithmeticOperations = new (string, Func<string, string, string>, bool) [] {
    ("Add"            , (x, y) =>$"{x} + {y}", false),
    ("AddChecked"     , (x, y) =>$"{x} + {y}", true ),
    ("Subtract"       , (x, y) =>$"{x} - {y}", false),
    ("SubtractChecked", (x, y) =>$"{x} - {y}", true ),
    ("Multiply"       , (x, y) =>$"{x} * {y}", false),
    ("MultiplyChecked", (x, y) =>$"{x} * {y}", true ),
    ("Divide"         , (x, y) =>$"{x} / {y}", false),
    ("DivideChecked"  , (x, y) =>$"{x} / {y}", true ),
    ("Modulo"         , (x, y) =>$"{x} % {y}", false),
};
var arithmeticTypes = new [] {
    "byte  ",
    "ushort",
    "uint  ",
    "ulong ",
    "nuint ",
    "sbyte ",
    "short ",
    "int   ",
    "long  ",
    "nint  ",
    "float ",
    "double",
};
var bitwiseOperations = new (string, Func<string, string, string>, bool) [] {
    ("BitwiseOr"      , (x, y) =>$"{x} | {y}", false),
    ("BitwiseAnd"     , (x, y) =>$"{x} & {y}", false),
    ("BitwiseXor"     , (x, y) =>$"{x} ^ {y}", false),
};
var bitwiseTypes = new [] {
    "byte  ",
    "ushort",
    "uint  ",
    "ulong ",
    "nuint ",
    "sbyte ",
    "short ",
    "int   ",
    "long  ",
    "nint  ",
};
#>
// <auto-generated>
// THIS (.cs) FILE IS GENERATED BY T4. DO NOT CHANGE IT. CHANGE THE .tt FILE INSTEAD.
// </auto-generated>
using System.CodeDom.Compiler;
using System.Runtime.CompilerServices;
namespace SmartVectorDotNet;
using H = InternalHelpers;

partial class ScalarOp
{
<#  foreach(var (opname, op, isChecked) in arithmeticOperations) { #>

    /// <summary> Operates <c><#=opname#></c> unaly operation. </summary>
    /// <typeparam name="T"></typeparam>
    /// <param name="x"></param>
    /// <param name="y"></param>
    /// <returns></returns>
    /// <exception cref="NotSupportedException" />
    /// <remarks>
    /// This method's type support conforms to <see cref="System.Numerics.Vector{T}"/>.
    /// </remarks>
    [GeneratedCode("T4", null), MethodImpl(_inlining)]
    public static T <#=opname#><T>(T x, T y)
        where T : unmanaged
    {
        static ref readonly TTo to<TTo>(in T x) => ref H.Reinterpret<T, TTo>(in x);
        static ref readonly T from<TFrom>(in TFrom x) => ref H.Reinterpret<TFrom, T>(in x);

<#      foreach(var type in arithmeticTypes) { #>
        if(typeof(T) == typeof(<#=type#>)) return from(<#=opname#>(to<<#=type#>>(x), to<<#=type#>>(y)));
<#      } #>
        throw new NotSupportedException();
    }
    
<#      foreach(var type in arithmeticTypes) { #>
    /** <see cref="<#=opname#>{T}" /> */ [GeneratedCode("T4", null), MethodImpl(_inlining)] public static <#=type#> <#=opname#>(<#=type#> x, <#=type#> y) => <#=isChecked ? "checked" : "unchecked"#>((<#=type#>)(<#=op("x", "y")#>));
<#      } #>

<#  } #>

<#  foreach(var (opname, op, isChecked) in bitwiseOperations) { #>

    /// <summary> Operates <c><#=opname#></c> unaly operation. </summary>
    /// <typeparam name="T"></typeparam>
    /// <param name="x"></param>
    /// <param name="y"></param>
    /// <returns></returns>
    /// <exception cref="NotSupportedException" />
    /// <remarks>
    /// This method's type support conforms to <see cref="System.Numerics.Vector{T}"/>.
    /// </remarks>
    [GeneratedCode("T4", null)]
    [MethodImpl(MethodImplOptions.AggressiveInlining)]
    public static T <#=opname#><T>(T x, T y)
        where T : unmanaged
    {
        static ref readonly TTo to<TTo>(in T x) => ref H.Reinterpret<T, TTo>(in x);
        static ref readonly T from<TFrom>(in TFrom x) => ref H.Reinterpret<TFrom, T>(in x);

<#      foreach(var type in arithmeticTypes) { #>
        if(typeof(T) == typeof(<#=type#>)) return from(<#=opname#>(to<<#=type#>>(x), to<<#=type#>>(y)));
<#      } #>
        throw new NotSupportedException();
    }

<#      foreach(var type in bitwiseTypes) { #>
    /** <see cref="<#=opname#>{T}" /> */ [GeneratedCode("T4", null), MethodImpl(_inlining)] public static <#=type#> <#=opname#>(<#=type#> x, <#=type#> y) => <#=isChecked ? "checked" : "unchecked"#>((<#=type#>)(<#=op("x", "y")#>));
<#      } #>

    /** <see cref="<#=opname#>{T}" /> */
    [GeneratedCode("T4", null), MethodImpl(_inlining)]
    public static float  <#=opname#>(float  x, float  y)
        => <#=isChecked ? "checked" : "unchecked"#>(Reinterpret<uint, float>(<#=op("Reinterpret<float, uint>(x)", "Reinterpret<float, uint>(y)")#>));

    /** <see cref="<#=opname#>{T}" /> */
    [GeneratedCode("T4", null), MethodImpl(_inlining)]
    public static double <#=opname#>(double x, double y)
        => <#=isChecked ? "checked" : "unchecked"#>(Reinterpret<ulong, double>(<#=op("Reinterpret<double, ulong>(x)", "Reinterpret<double, ulong>(y)")#>));

<#  } #>
}
