<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".g.cs" #>
<#
var arithmeticTypes = new [] {
    "byte  ",
    "ushort",
    "uint  ",
    "ulong ",
    "nuint ",
    "sbyte ",
    "short ",
    "int   ",
    "long  ",
    "nint  ",
    "float ",
    "double",
};
var bitwiseTypes = new [] {
    "byte  ",
    "ushort",
    "uint  ",
    "ulong ",
    "nuint ",
    "sbyte ",
    "short ",
    "int   ",
    "long  ",
    "nint  ",
};
var operations = new (string opname, string checkedKeyword, bool isArithmetic, Func<string, string, string> op) [] {
    ("Add"            , "unchecked", true , (x, y) =>$"{x} + {y}"),
    ("AddChecked"     , "checked"  , true , (x, y) =>$"{x} + {y}"),
    ("Subtract"       , "unchecked", true , (x, y) =>$"{x} - {y}"),
    ("SubtractChecked", "checked"  , true , (x, y) =>$"{x} - {y}"),
    ("Multiply"       , "unchecked", true , (x, y) =>$"{x} * {y}"),
    ("MultiplyChecked", "checked"  , true , (x, y) =>$"{x} * {y}"),
    ("Divide"         , "unchecked", true , (x, y) =>$"{x} / {y}"),
    ("DivideChecked"  , "checked"  , true , (x, y) =>$"{x} / {y}"),
    ("Modulo"         , "unchecked", true , (x, y) =>$"{x} % {y}"),
    ("BitwiseOr"      , "unchecked", false, (x, y) =>$"{x} | {y}"),
    ("BitwiseAnd"     , "unchecked", false, (x, y) =>$"{x} & {y}"),
    ("BitwiseXor"     , "unchecked", false, (x, y) =>$"{x} ^ {y}"),
};
#>
// <auto-generated>
// THIS (.cs) FILE IS GENERATED BY T4. DO NOT CHANGE IT. CHANGE THE .tt FILE INSTEAD.
// </auto-generated>
using System.CodeDom.Compiler;
using System.Runtime.CompilerServices;
using GenericSpecialization;
namespace SmartVectorDotNet;
using H = InternalHelpers;

partial class ScalarOp
{
<#  foreach(var (opname, checkedKeyword, isArithmetic, op) in operations) { #>
    #region <#=opname#>

    /// <inheritdoc cref="<#=opname#>_default" />
    /// <exception cref="NotSupportedException" />
    /// <remarks>
    /// This method's type support conforms to <see cref="System.Numerics.Vector{T}"/>.
    /// </remarks>
    [GeneratedCode("T4", null)]
    [PrimaryGeneric(nameof(<#=opname#>_default))]
    public static partial T <#=opname#><T>(T x, T y)
        where T : unmanaged;
    
    /// <summary> Operates <c><#=opname#></c> unaly operation. </summary>
    /// <typeparam name="T"></typeparam>
    /// <param name="x"></param>
    /// <param name="y"></param>
    /// <returns></returns>
    private static T <#=opname#>_default<T>(T x, T y) => throw new NotSupportedException();

<#  GenerateSpecializations(opname, checkedKeyword, isArithmetic, op); #>

    #endregion <#=opname#>

<#  } #>
}
<#+

private static readonly string[] ArithmeticTypes = [
    "byte  ",
    "ushort",
    "uint  ",
    "ulong ",
    "nuint ",
    "sbyte ",
    "short ",
    "int   ",
    "long  ",
    "nint  ",
    "float ",
    "double",];
private static readonly string[] BitwiseTypes = [
    "byte  ",
    "ushort",
    "uint  ",
    "ulong ",
    "nuint ",
    "sbyte ",
    "short ",
    "int   ",
    "long  ",
    "nint  ",
];

public void GenerateSpecializations(string opname, string checkKeyword, bool isArithmetic, Func<string, string, string> op)
{
    var types = isArithmetic
        ? ArithmeticTypes : BitwiseTypes;
    foreach(var type in types)
    {
#>
    /** <inheritdoc cref="<#=opname#>_default" /> */ [MethodImpl(MethodImplOptions.AggressiveInlining)] public static <#=type#> <#=opname#>(<#=type#> x, <#=type#> y) => <#=checkKeyword#>((<#=type#>)(<#=op($"x", "y")#>));
<#+
    }
    if(!isArithmetic)
    {
#>

    /** <inheritdoc cref="<#=opname#>_default" /> */
    [MethodImpl(MethodImplOptions.AggressiveInlining)]
    public static float <#=opname#>(float x, float y)
        => H.BitCast<uint, float>(<#=op($"H.BitCast<float, uint>(x)", $"H.BitCast<float, uint>(y)")#>);

    /** <inheritdoc cref="<#=opname#>_default" /> */
    [MethodImpl(MethodImplOptions.AggressiveInlining)]
    public static double <#=opname#>(double x, double y)
        => H.BitCast<ulong, double>(<#=op($"H.BitCast<double, ulong>(x)", $"H.BitCast<double, ulong>(y)")#>);
<#+
    }
}

#>
