<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="../Helpers.t4" once="true" #>
<#@ include file="./VectorizationHelpers.t4" once="true" #>
<#@ output extension=".g.cs" #>
<#
var operations = new MethodDef[]
{
    new ("Add"                , "x", "y", (x, y) => $"ScalarOp.Add({x}, {y})"       , (x, y) => $"{x} + {y}"),
    new ("Subtract"           , "x", "y", (x, y) => $"ScalarOp.Subtract({x}, {y})"  , (x, y) => $"{x} - {y}"),
    new ("Multiply"           , "x", "y", (x, y) => $"ScalarOp.Multiply({x}, {y})"  , (x, y) => $"{x} * {y}"),
    new ("Divide"             , "x", "y", (x, y) => $"ScalarOp.Divide({x}, {y})"    , (x, y) => $"{x} / {y}"),
    new ("BitwiseAnd"         , "x", "y", (x, y) => $"ScalarOp.BitwiseAnd({x}, {y})", (x, y) => $"{x} & {y}"),
    new ("BitwiseOr"          , "x", "y", (x, y) => $"ScalarOp.BitwiseOr({x}, {y})" , (x, y) => $"{x} | {y}"),
    new ("BitwiseXor"         , "x", "y", (x, y) => $"ScalarOp.BitwiseXor({x}, {y})", (x, y) => $"{x} ^ {y}"),
    new ("Equals"             , "x", "y", (x, y) => $"ScalarOp.Equals({x}, {y}) ? ScalarOp.True<T>() : ScalarOp.False<T>()"             , (x, y) => $"Vector.Equals({x}, {y})"            ),
    new ("LessThan"           , "x", "y", (x, y) => $"ScalarOp.LessThan({x}, {y}) ? ScalarOp.True<T>() : ScalarOp.False<T>()"           , (x, y) => $"Vector.LessThan({x}, {y})"          ),
    new ("LessThanOrEquals"   , "x", "y", (x, y) => $"ScalarOp.LessThanOrEquals({x}, {y}) ? ScalarOp.True<T>() : ScalarOp.False<T>()"   , (x, y) => $"Vector.LessThanOrEqual({x}, {y})"   ),
    new ("GreaterThan"        , "x", "y", (x, y) => $"ScalarOp.GreaterThan({x}, {y}) ? ScalarOp.True<T>() : ScalarOp.False<T>()"        , (x, y) => $"Vector.GreaterThan({x}, {y})"       ),
    new ("GreaterThanOrEquals", "x", "y", (x, y) => $"ScalarOp.GreaterThanOrEquals({x}, {y}) ? ScalarOp.True<T>() : ScalarOp.False<T>()", (x, y) => $"Vector.GreaterThanOrEqual({x}, {y})"),
    
    new ("AddSaturate"        , "x", "y", (x, y) => $"ScalarOp.AddSaturate({x}, {y})"     , (x, y) => $"VectorOp.AddSaturate({x}, {y})"     ),
    new ("SubtractSaturate"   , "x", "y", (x, y) => $"ScalarOp.SubtractSaturate({x}, {y})", (x, y) => $"VectorOp.SubtractSaturate({x}, {y})"),

    new ("Atan2"        , "y", "x", (y, x) => $"ScalarOp.Atan2({y}, {x})", (y, x) => $"VectorMath.Atan2({y}, {x})"),
    new ("Log"          , "x", "newBase", (x, newBase) => $"ScalarOp.Log({x}, {newBase})", (x, newBase) => $"VectorMath.Log({x}, {newBase})"),
//  new ("Modulo"       , "x", "y"),
//  new ("ModuloByFloor", "x", "y"),
    new ("Pow"          , "a", "x", (a, x) => $"ScalarOp.Pow({x}, {x})", (a, x) => $"VectorMath.Pow({x}, {x})"),
};
#>
#nullable enable
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

namespace SmartVectorDotNet;

<#  foreach(var op in operations) { #>
<#      var methodName = op.Name;   #>
<#      var arg1 = op.Arg1Name;     #>
<#      var arg2 = op.Arg2Name;     #>
#region <#=methodName.ToLower()#>
partial class Vectorization
{
    <# DocumentPublic(methodName, arg1, arg2); #>
    public void <#=methodName#><T>(T <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        Guard.ValidArgument(<#=arg2#>.Length == ans.Length, "`<#=arg2#>` and `ans` must have same length.");
        using var safeYBuffer = EnsureSourceSafe(ref <#=arg2#>, ans);
        <#=methodName#>Core(<#=arg1#>, <#=arg2#>, ans);
    }
    
    <# DocumentPublic(methodName, arg1, arg2); #>
    public void <#=methodName#><T>(ReadOnlySpan<T> <#=arg1#>, T <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        Guard.ValidArgument(<#=arg1#>.Length == ans.Length, "`<#=arg1#>` and `ans` must have same length.");
        using var safeXBuffer = EnsureSourceSafe(ref <#=arg1#>, ans);
        <#=methodName#>Core(<#=arg1#>, <#=arg2#>, ans);
    }
    
    <# DocumentPublic(methodName, arg1, arg2); #>
    public void <#=methodName#><T>(ReadOnlySpan<T> <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        Guard.ValidArgument(<#=arg1#>.Length == ans.Length, "`<#=arg1#>` and `ans` must have same length.");
        Guard.ValidArgument(<#=arg2#>.Length == ans.Length, "`<#=arg2#>` and `ans` must have same length.");
        using var safeXBuffer = EnsureSourceSafe(ref <#=arg1#>, ans);
        using var safeYBuffer = EnsureSourceSafe(ref <#=arg2#>, ans);
        <#=methodName#>Core(<#=arg1#>, <#=arg2#>, ans);
    }
    
    <# DocumentCore(methodName, $"{methodName}{{T}}(T, ReadOnlySpan{{T}}, Span{{T}})", arg1, arg2); #>
    protected internal virtual void <#=methodName#>Core<T>(T <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        for (var i = 0; i < ans.Length; ++i)
            ans[i] = <#= op.ScalarGenerateFunc(arg1, $"{arg2}[i]") #>;
    }
    
    <# DocumentCore(methodName, $"{methodName}{{T}}(ReadOnlySpan{{T}}, T, Span{{T}})", arg1, arg2); #>
    protected internal virtual void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, T <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        for (var i = 0; i < ans.Length; ++i)
            ans[i] = <#= op.ScalarGenerateFunc($"{arg1}[i]", arg2) #>;
    }
    
    <# DocumentCore(methodName, $"{methodName}{{T}}(ReadOnlySpan{{T}}, ReadOnlySpan{{T}}, Span{{T}})", arg1, arg2); #>
    protected internal virtual void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        for (var i = 0; i < ans.Length; ++i)
            ans[i] = <#= op.ScalarGenerateFunc($"{arg1}[i]", $"{arg2}[i]") #>;
    }
}

partial class SimdVectorization
{
    /// <inheritdoc />
    protected internal override sealed void <#=methodName#>Core<T>(T <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
    {
        var vectorX = new Vector<T>(<#=arg1#>);
        var vectorY = MemoryMarshal.Cast<T, Vector<T>>(<#=arg2#>);
        var vectorAns = MemoryMarshal.Cast<T, Vector<T>>(ans);
        var vectorLength = vectorAns.Length * Vector<T>.Count;
        for(var i = 0; i < vectorAns.Length; ++i)
        {
            vectorAns[i] = <#=op.VectorGenerateFunc("vectorX", "vectorY[i]")#>;
        }
        if(vectorLength < ans.Length)
        {
            var vy = (stackalloc T[Vector<T>.Count]);
            var vans = (stackalloc T[Vector<T>.Count]);
            <#=arg2#>.Slice(vectorLength).CopyTo(vy);
            Unsafe.As<T, Vector<T>>(ref vans[0]) = <#=op.VectorGenerateFunc("vectorX", "Unsafe.As<T, Vector<T>>(ref vy[0])")#>; 
            vans.Slice(0, ans.Length - vectorLength).CopyTo(ans.Slice(vectorLength));
        }
    }

    /// <inheritdoc />
    protected internal override sealed void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, T <#=arg2#>, Span<T> ans)
    {
        var vectorX = MemoryMarshal.Cast<T, Vector<T>>(<#=arg1#>);
        var vectorY = new Vector<T>(<#=arg2#>);
        var vectorAns = MemoryMarshal.Cast<T, Vector<T>>(ans);
        var vectorLength = vectorAns.Length * Vector<T>.Count;
        for(var i = 0; i < vectorAns.Length; ++i)
        {
            vectorAns[i] = <#=op.VectorGenerateFunc("vectorX[i]", "vectorY")#>;
        }
        if(vectorLength < ans.Length)
        {
            var vx = (stackalloc T[Vector<T>.Count]);
            var vans = (stackalloc T[Vector<T>.Count]);
            <#=arg1#>.Slice(vectorLength).CopyTo(vx);
            Unsafe.As<T, Vector<T>>(ref vans[0]) = <#=op.VectorGenerateFunc("Unsafe.As<T, Vector<T>>(ref vx[0])", "vectorY")#>; 
            vans.Slice(0, ans.Length - vectorLength).CopyTo(ans.Slice(vectorLength));
        }
    }

    /// <inheritdoc />
    protected internal override sealed void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
    {
        var vectorX = MemoryMarshal.Cast<T, Vector<T>>(<#=arg1#>);
        var vectorY = MemoryMarshal.Cast<T, Vector<T>>(<#=arg2#>);
        var vectorAns = MemoryMarshal.Cast<T, Vector<T>>(ans);
        var vectorLength = vectorAns.Length * Vector<T>.Count;
        for(var i = 0; i < vectorAns.Length; ++i)
        {
            vectorAns[i] = <#=op.VectorGenerateFunc("vectorX[i]", "vectorY[i]")#>;
        }
        if(vectorLength < ans.Length)
        {
            var vx = (stackalloc T[Vector<T>.Count]);
            var vy = (stackalloc T[Vector<T>.Count]);
            var vans = (stackalloc T[Vector<T>.Count]);
            <#=arg1#>.Slice(vectorLength).CopyTo(vx);
            <#=arg2#>.Slice(vectorLength).CopyTo(vy);
            Unsafe.As<T, Vector<T>>(ref vans[0]) = <#=op.VectorGenerateFunc("Unsafe.As<T, Vector<T>>(ref vx[0])", "Unsafe.As<T, Vector<T>>(ref vy[0])")#>; 
            vans.Slice(0, ans.Length - vectorLength).CopyTo(ans.Slice(vectorLength));
        }
    }
}
#endregion

<#  } #>
<#+
class MethodDef
{
    public string Name { get; }
    public string Arg1Name { get; }
    public string Arg2Name { get; }
    public Func<string, string, string> ScalarGenerateFunc { get; }
    public Func<string, string, string> VectorGenerateFunc { get; }

    public MethodDef(string name, string arg1Name, string arg2Name, Func<string, string, string> scalarGenerateFunc, Func<string, string, string> vectorGenerateFunc)
    {
        Name = name;
        Arg1Name = arg1Name;
        Arg2Name = arg2Name;
        ScalarGenerateFunc = scalarGenerateFunc;
        VectorGenerateFunc = vectorGenerateFunc;
    }
}
#>
