<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="../Helpers.t4" once="true" #>
<#@ include file="./VectorizationHelpers.t4" once="true" #>
<#@ output extension=".g.cs" #>
<#
var operations = new MethodDef[]
{
    new("UnaryPlus" , "x", (ans, x) => $"{ans} = ScalarOp.UnaryPlus({x})" , (ans, x) => $"{ans} =  {x}"),
    new("UnaryMinus", "x", (ans, x) => $"{ans} = ScalarOp.UnaryMinus({x})", (ans, x) => $"{ans} = -{x}"),
    new("Complement", "x", (ans, x) => $"{ans} = ScalarOp.Complement({x})", (ans, x) => $"{ans} = ~{x}"),
    new("Abs"       , "d", (ans, d) => $"{ans} = ScalarOp.Abs({d})"     , (ans, d) => $"{ans} = VectorOp.Abs({d})"     ),
    new("Acos"      , "d", (ans, d) => $"{ans} = ScalarOp.Acos({d})"    , (ans, d) => $"{ans} = VectorOp.Acos({d})"    ),
    new("Acosh"     , "d", (ans, d) => $"{ans} = ScalarOp.Acosh({d})"   , (ans, d) => $"{ans} = VectorOp.Acosh({d})"   ),
    new("Asin"      , "d", (ans, d) => $"{ans} = ScalarOp.Asin({d})"    , (ans, d) => $"{ans} = VectorOp.Asin({d})"    ),
    new("Asinh"     , "d", (ans, d) => $"{ans} = ScalarOp.Asinh({d})"   , (ans, d) => $"{ans} = VectorOp.Asinh({d})"   ),
    new("Atan"      , "d", (ans, d) => $"{ans} = ScalarOp.Atan({d})"    , (ans, d) => $"{ans} = VectorOp.Atan({d})"    ),
    new("Atanh"     , "d", (ans, d) => $"{ans} = ScalarOp.Atanh({d})"   , (ans, d) => $"{ans} = VectorOp.Atanh({d})"   ),
    new("Cbrt"      , "d", (ans, d) => $"{ans} = ScalarOp.Cbrt({d})"    , (ans, d) => $"{ans} = VectorOp.Cbrt({d})"    ),
    new("Ceiling"   , "d", (ans, d) => $"{ans} = ScalarOp.Ceiling({d})" , (ans, d) => $"{ans} = VectorOp.Ceiling({d})" ),
    new("Cos"       , "d", (ans, d) => $"{ans} = ScalarOp.Cos({d})"     , (ans, d) => $"{ans} = VectorOp.Cos({d})"     ),
    new("Cosh"      , "d", (ans, d) => $"{ans} = ScalarOp.Cosh({d})"    , (ans, d) => $"{ans} = VectorOp.Cosh({d})"    ),
    new("Exp"       , "d", (ans, d) => $"{ans} = ScalarOp.Exp({d})"     , (ans, d) => $"{ans} = VectorOp.Exp({d})"     ),
    new("Floor"     , "d", (ans, d) => $"{ans} = ScalarOp.Floor({d})"   , (ans, d) => $"{ans} = VectorOp.Floor({d})"   ),
    new("Log"       , "d", (ans, d) => $"{ans} = ScalarOp.Log({d})"     , (ans, d) => $"{ans} = VectorOp.Log({d})"     ),
    new("Log10"     , "d", (ans, d) => $"{ans} = ScalarOp.Log10({d})"   , (ans, d) => $"{ans} = VectorOp.Log10({d})"   ),
    new("Log2"      , "d", (ans, d) => $"{ans} = ScalarOp.Log2({d})"    , (ans, d) => $"{ans} = VectorOp.Log2({d})"    ),
    new("Round"     , "d", (ans, d) => $"{ans} = ScalarOp.Round({d})"   , (ans, d) => $"{ans} = VectorOp.Round({d})"   ),
    new("Sign"      , "d", (ans, d) => $"{ans} = ScalarOp.Sign({d})"    , (ans, d) => $"{ans} = VectorOp.Sign({d})"    ),
    new("Sin"       , "d", (ans, d) => $"{ans} = ScalarOp.Sin({d})"     , (ans, d) => $"{ans} = VectorOp.Sin({d})"     ),
    new("Sinh"      , "d", (ans, d) => $"{ans} = ScalarOp.Sinh({d})"    , (ans, d) => $"{ans} = VectorOp.Sinh({d})"    ),
    new("Sqrt"      , "d", (ans, d) => $"{ans} = ScalarOp.Sqrt({d})"    , (ans, d) => $"{ans} = VectorOp.Sqrt({d})"    ),
    new("Tan"       , "d", (ans, d) => $"{ans} = ScalarOp.Tan({d})"     , (ans, d) => $"{ans} = VectorOp.Tan({d})"     ),
    new("Tanh"      , "d", (ans, d) => $"{ans} = ScalarOp.Tanh({d})"    , (ans, d) => $"{ans} = VectorOp.Tanh({d})"    ),
    new("Truncate"  , "d", (ans, d) => $"{ans} = ScalarOp.Truncate({d})", (ans, d) => $"{ans} = VectorOp.Truncate({d})"),
};
#>
#nullable enable
using System;
using System.Collections.Generic;
using System.Numerics;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

namespace SmartVectorDotNet;

<#  foreach(var op in operations) { #>
<#      var methodName = op.Name;   #>
<#      var arg1 = op.Arg1Name;     #>
#region <#=methodName.ToLower()#>

partial class Vectorization
{
    <# DocumentPublic(methodName, arg1); #>
    public void <#=methodName#><T>(ReadOnlySpan<T> <#=arg1#>, Span<T> ans)
        where T : unmanaged
    {
        Guard.ValidArgument(<#=arg1#>.Length == ans.Length, "`<#=arg1#>` and `ans` must have same length.");
        using var safeXBuffer = EnsureSourceSafe(ref <#=arg1#>, ans);
        <#=methodName#>Core(<#=arg1#>, ans);
    }

    <# DocumentCore(methodName, $"{methodName}{{T}}(ReadOnlySpan{{T}}, Span{{T}})", arg1); #>
    protected internal virtual void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, Span<T> ans)
        where T : unmanaged
    {
        for (var i = 0; i < ans.Length; ++i)
            <#=op.ScalarGenerateFunc("ans[i]", $"{arg1}[i]")#>;
    }
}

partial class SimdVectorization
{
    /// <inheritdoc />
    protected internal override sealed void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, Span<T> ans)
    {
        var vectorX = MemoryMarshal.Cast<T, Vector<T>>(<#=arg1#>);
        var vectorAns = MemoryMarshal.Cast<T, Vector<T>>(ans);
        var vectorLength = vectorAns.Length * Vector<T>.Count;
        for(var i = 0; i < vectorAns.Length; ++i)
        {
            <#=op.VectorGenerateFunc("vectorAns[i]", "vectorX[i]")#>;
        }
        if(vectorLength < ans.Length)
        {
            var vx = (stackalloc T[Vector<T>.Count]);
            var vans = (stackalloc T[Vector<T>.Count]);
            <#=arg1#>.Slice(vectorLength).CopyTo(vx);
            <#=op.VectorGenerateFunc("Unsafe.As<T, Vector<T>>(ref vans[0])", "Unsafe.As<T, Vector<T>>(ref vx[0])")#>; 
            vans.Slice(0, ans.Length - vectorLength).CopyTo(ans.Slice(vectorLength));
        }
    }
}

#endregion

<# } #>
<#+
class MethodDef
{
    public string Name { get; }
    public string Arg1Name { get; }
    public Func<string, string, string> ScalarGenerateFunc { get; }
    public Func<string, string, string> VectorGenerateFunc { get; }

    public MethodDef(string name, string arg1Name, Func<string, string, string> scalarGenerateFunc, Func<string, string, string> vectorGenerateFunc)
    {
        Name = name;
        Arg1Name = arg1Name;
        ScalarGenerateFunc = scalarGenerateFunc;
        VectorGenerateFunc = vectorGenerateFunc;
    }
}
#>
