<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="../Helpers.t4" once="true" #>
<#@ include file="./VectorizationHelpers.t4" once="true" #>
<#@ output extension=".g.cs" #>
<#
var operations = new MethodDef[]
{
    new ("Add"               , true , "x", "y"),
    new ("Subtract"          , true , "x", "y"),
    new ("Multiply"          , true , "x", "y"),
    new ("Divide"            , false, "x", "y"),
    new ("Modulo"            , false, "x", "y"),
    new ("ModuloByFloor"     , false, "x", "y"),
    new ("AddSaturate"       , true , "x", "y"),
    new ("SubtractSaturate"  , true , "x", "y"),
    new ("BitwiseAnd"        , true , "x", "y", (x, y) => $"ScalarOp.BitwiseAnd({x}, {y})", (x, y) => $"{x} & {y}"),
    new ("BitwiseOr"         , true , "x", "y", (x, y) => $"ScalarOp.BitwiseOr({x}, {y})" , (x, y) => $"{x} | {y}"),
    new ("BitwiseXor"        , true , "x", "y", (x, y) => $"ScalarOp.BitwiseXor({x}, {y})", (x, y) => $"{x} ^ {y}"),
    new ("Equals"            , true , "x", "y", (x, y) => $"ScalarOp.Equals            ({x}, {y}) ? ScalarOp.Const<T>.TrueValue : ScalarOp.Const<T>.FalseValue", (x, y) => $"Vector.Equals            ({x}, {y})"),
    new ("LessThan"          , true , "x", "y", (x, y) => $"ScalarOp.LessThan          ({x}, {y}) ? ScalarOp.Const<T>.TrueValue : ScalarOp.Const<T>.FalseValue", (x, y) => $"Vector.LessThan          ({x}, {y})"),
    new ("LessThanOrEqual"   , true , "x", "y", (x, y) => $"ScalarOp.LessThanOrEqual   ({x}, {y}) ? ScalarOp.Const<T>.TrueValue : ScalarOp.Const<T>.FalseValue", (x, y) => $"Vector.LessThanOrEqual   ({x}, {y})"),
    new ("GreaterThan"       , true , "x", "y", (x, y) => $"ScalarOp.GreaterThan       ({x}, {y}) ? ScalarOp.Const<T>.TrueValue : ScalarOp.Const<T>.FalseValue", (x, y) => $"Vector.GreaterThan       ({x}, {y})"),
    new ("GreaterThanOrEqual", true , "x", "y", (x, y) => $"ScalarOp.GreaterThanOrEqual({x}, {y}) ? ScalarOp.Const<T>.TrueValue : ScalarOp.Const<T>.FalseValue", (x, y) => $"Vector.GreaterThanOrEqual({x}, {y})"),

    new ("Atan2"        , true , "y", "x"),
    new ("Log"          , true , "x", "newBase"),
    new ("Pow"          , true , "a", "x"),
};
#>
// <auto-generated>
// THIS (.cs) FILE IS GENERATED BY T4. DO NOT CHANGE IT. CHANGE THE .tt FILE INSTEAD.
// </auto-generated>
#nullable enable
using System.CodeDom.Compiler;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;
using MM = System.Runtime.InteropServices.MemoryMarshal;

namespace SmartVectorDotNet;

<#  foreach(var op in operations) { #>
<#      var methodName = op.Name;   #>
<#      var safeForZero = op.SafeForZero;   #>
<#      var arg1 = op.Arg1Name;     #>
<#      var arg2 = op.Arg2Name;     #>
#region <#=methodName.ToLower()#>
partial class Vectorization
{
    <# DocumentPublic(methodName, arg1, arg2); #>
    [GeneratedCode("T4", null)]
    public void <#=methodName#><T>(T <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        Guard.ValidArgument(<#=arg2#>.Length == ans.Length, "`<#=arg2#>` and `ans` must have same length.");
        using var safeYBuffer = EnsureSourceSafe(ref <#=arg2#>, ans);
        <#=methodName#>Core(<#=arg1#>, <#=arg2#>, ans);
    }
    
    <# DocumentPublic(methodName, arg1, arg2); #>
    [GeneratedCode("T4", null)]
    public void <#=methodName#><T>(ReadOnlySpan<T> <#=arg1#>, T <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        Guard.ValidArgument(<#=arg1#>.Length == ans.Length, "`<#=arg1#>` and `ans` must have same length.");
        using var safeXBuffer = EnsureSourceSafe(ref <#=arg1#>, ans);
        <#=methodName#>Core(<#=arg1#>, <#=arg2#>, ans);
    }
    
    <# DocumentPublic(methodName, arg1, arg2); #>
    [GeneratedCode("T4", null)]
    public void <#=methodName#><T>(ReadOnlySpan<T> <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        Guard.ValidArgument(<#=arg1#>.Length == ans.Length, "`<#=arg1#>` and `ans` must have same length.");
        Guard.ValidArgument(<#=arg2#>.Length == ans.Length, "`<#=arg2#>` and `ans` must have same length.");
        using var safeXBuffer = EnsureSourceSafe(ref <#=arg1#>, ans);
        using var safeYBuffer = EnsureSourceSafe(ref <#=arg2#>, ans);
        <#=methodName#>Core(<#=arg1#>, <#=arg2#>, ans);
    }
    
    <# DocumentCore(methodName, $"{methodName}{{T}}(T, ReadOnlySpan{{T}}, Span{{T}})", arg1, arg2); #>
    [GeneratedCode("T4", null)]
    protected internal virtual void <#=methodName#>Core<T>(T <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        for (var i = 0; i < ans.Length; ++i)
            ans[i] = <#= op.ScalarGenerateFunc(arg1, $"{arg2}[i]") #>;
    }
    
    <# DocumentCore(methodName, $"{methodName}{{T}}(ReadOnlySpan{{T}}, T, Span{{T}})", arg1, arg2); #>
    [GeneratedCode("T4", null)]
    protected internal virtual void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, T <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        for (var i = 0; i < ans.Length; ++i)
            ans[i] = <#= op.ScalarGenerateFunc($"{arg1}[i]", arg2) #>;
    }
    
    <# DocumentCore(methodName, $"{methodName}{{T}}(ReadOnlySpan{{T}}, ReadOnlySpan{{T}}, Span{{T}})", arg1, arg2); #>
    [GeneratedCode("T4", null)]
    protected internal virtual void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
        where T : unmanaged
    {
        for (var i = 0; i < ans.Length; ++i)
            ans[i] = <#= op.ScalarGenerateFunc($"{arg1}[i]", $"{arg2}[i]") #>;
    }
}

partial class SimdVectorization
{
    /// <inheritdoc />
    [GeneratedCode("T4", null)]
    protected internal override sealed void <#=methodName#>Core<T>(T <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
    {
        var vectorX = new Vector<T>(<#=arg1#>);
        var vectorY = MM.Cast<T, Vector<T>>(<#=arg2#>);
        var vectorAns = MM.Cast<T, Vector<T>>(ans);
        var vectorLength = vectorAns.Length * Vector<T>.Count;
        for(var i = 0; i < vectorAns.Length; ++i)
        {
            vectorAns[i] = <#=op.VectorGenerateFunc("vectorX", "vectorY[i]")#>;
        }
        if(vectorLength < ans.Length)
        {
            calculateExtra(vectorX, <#=arg2#>.Slice(vectorLength), ans.Slice(vectorLength));
        }

        static void calculateExtra(Vector<T> vectorX, ReadOnlySpan<T> y, Span<T> ans)
        {
            Span<Vector<T>> vy   = stackalloc Vector<T>[1]<#=safeForZero ? "" : $"{{ new(y[0]) }}"#>;
            Span<Vector<T>> vans = stackalloc Vector<T>[1];
            y.CopyTo(MM.Cast<Vector<T>, T>(vy));
            vans[0] = <#=op.VectorGenerateFunc("vectorX", "vy[0]")#>; 
            MM.Cast<Vector<T>, T>(vans).Slice(0, ans.Length).CopyTo(ans);
        }
    }

    /// <inheritdoc />
    [GeneratedCode("T4", null)]
    protected internal override sealed void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, T <#=arg2#>, Span<T> ans)
    {
        var vectorX = MM.Cast<T, Vector<T>>(<#=arg1#>);
        var vectorY = new Vector<T>(<#=arg2#>);
        var vectorAns = MM.Cast<T, Vector<T>>(ans);
        var vectorLength = vectorAns.Length * Vector<T>.Count;
        for(var i = 0; i < vectorAns.Length; ++i)
        {
            vectorAns[i] = <#=op.VectorGenerateFunc("vectorX[i]", "vectorY")#>;
        }
        if(vectorLength < ans.Length)
        {
            calculateExtra(<#=arg1#>.Slice(vectorLength), vectorY, ans.Slice(vectorLength));
        }

        static void calculateExtra(ReadOnlySpan<T> x, Vector<T> vectorY, Span<T> ans)
        {
            Span<Vector<T>> vx   = stackalloc Vector<T>[1]<#=safeForZero ? "" : $"{{ new(x[0]) }}"#>;
            Span<Vector<T>> vans = stackalloc Vector<T>[1];
            x.CopyTo(MM.Cast<Vector<T>, T>(vx));
            vans[0] = <#=op.VectorGenerateFunc("vx[0]", "vectorY")#>; 
            MM.Cast<Vector<T>, T>(vans).Slice(0, ans.Length).CopyTo(ans);
        }
    }

    /// <inheritdoc />
    [GeneratedCode("T4", null)]
    protected internal override sealed void <#=methodName#>Core<T>(ReadOnlySpan<T> <#=arg1#>, ReadOnlySpan<T> <#=arg2#>, Span<T> ans)
    {
        var vectorX = MM.Cast<T, Vector<T>>(<#=arg1#>);
        var vectorY = MM.Cast<T, Vector<T>>(<#=arg2#>);
        var vectorAns = MM.Cast<T, Vector<T>>(ans);
        var vectorLength = vectorAns.Length * Vector<T>.Count;
        for(var i = 0; i < vectorAns.Length; ++i)
        {
            vectorAns[i] = <#=op.VectorGenerateFunc("vectorX[i]", "vectorY[i]")#>;
        }
        if(vectorLength < ans.Length)
        {
            calculateExtra(<#=arg1#>.Slice(vectorLength), <#=arg2#>.Slice(vectorLength), ans.Slice(vectorLength));
        }

        static void calculateExtra(ReadOnlySpan<T> x, ReadOnlySpan<T> y, Span<T> ans)
        {
            Span<Vector<T>> vx   = stackalloc Vector<T>[1]<#=safeForZero ? "" : $"{{ new(x[0]) }}"#>;
            Span<Vector<T>> vy   = stackalloc Vector<T>[1]<#=safeForZero ? "" : $"{{ new(y[0]) }}"#>;
            Span<Vector<T>> vans = stackalloc Vector<T>[1];
            x.CopyTo(MM.Cast<Vector<T>, T>(vx));
            y.CopyTo(MM.Cast<Vector<T>, T>(vy));
            vans[0] = <#=op.VectorGenerateFunc("vx[0]", "vy[0]")#>; 
            MM.Cast<Vector<T>, T>(vans).Slice(0, ans.Length).CopyTo(ans);
        }
    }
}
#endregion

<#  } #>
<#+
class MethodDef
{
    public string Name { get; }
    public bool SafeForZero { get; }
    public string Arg1Name { get; }
    public string Arg2Name { get; }
    public Func<string, string, string> ScalarGenerateFunc { get; }
    public Func<string, string, string> VectorGenerateFunc { get; }

    public MethodDef(string name, bool safeForZero, string arg1Name, string arg2Name)
    {
        Name = name;
        SafeForZero = safeForZero;
        Arg1Name = arg1Name;
        Arg2Name = arg2Name;
        ScalarGenerateFunc = (x, y) => $"ScalarOp.{Name}({x}, {y})";
        VectorGenerateFunc = (x, y) => $"VectorOp.{Name}({x}, {y})";
    }

    public MethodDef(string name, bool safeForZero, string arg1Name, string arg2Name, Func<string, string, string> scalarGenerateFunc, Func<string, string, string> vectorGenerateFunc)
    {
        Name = name;
        SafeForZero = safeForZero;
        Arg1Name = arg1Name;
        Arg2Name = arg2Name;
        ScalarGenerateFunc = scalarGenerateFunc;
        VectorGenerateFunc = vectorGenerateFunc;
    }
}
#>
